__pycache__/read_pdb_file.cpython-38.pyc
dev/get_protein_feature/dev_read_pdb_file.ipynb
dev/get_protein_feature/str_test_AF-Q9W5D6-F1-model_v3.pdb
dev/read_pdb_file/dev_read_pdb_file.ipynb
dev/read_pdb_file/parse_pdb_file_with_biopython.ipynb
dev/read_pdb_file/str_test_AF-Q9W5D6-F1-model_v3.pdb
dev/read_pdb_file/test_AF-Q9W5D6-F1-model_v3.pdb
